<ion-header>
  <ion-toolbar>
    <ion-title>Adding new pal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <ion-item>
      <ion-input type="text" label="Image" [(ngModel)]="pal.pictureLink"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" label="Number" [(ngModel)]="pal.number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" label="Name" [(ngModel)]="pal.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-textarea label="Description" rows="10" [(ngModel)]="pal.description"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-select label="Type 1" [(ngModel)]="pal.type1">
        <ion-select-option *ngFor="let type of types" [value]="type.label">
          <ion-thumbnail slot="start">
            <img [src]="type.imageUrl" alt="{{ type.label }} Image">
          </ion-thumbnail>
          {{ type.label }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-select label="Type 2" [(ngModel)]="pal.type2">
        <ion-select-option *ngFor="let type of types2" [value]="type.label">
          <ion-thumbnail slot="start">
            <img [src]="type.imageUrl" alt="{{ type.label }} Image">
          </ion-thumbnail>
          {{ type.label }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-list style="
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      width: 100%;">
    <ion-label style="
    width: 100%;
    padding: 10px 16px;">Work</ion-label>
      <ion-item *ngFor="let work of works" style="width: 50%;">
          <img [src]="work.imageUrl">
        <ion-label>{{ work.label }}</ion-label>
        <ion-checkbox slot="start" [(ngModel)]="work.checked"></ion-checkbox>
      </ion-item>
    </ion-list>
  <p class="text-center">
    <ion-button (click)="add()">Send</ion-button>
  </p>
  </div>
</ion-content>
