<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/pals"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="pal">{{ pal.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="bg-img"></div>
  <ion-button (click)="setUpdate()">Update</ion-button>
  <ion-button (click)="setDelete(pal.id)">Delete</ion-button>

  <div *ngIf="!modif">
    <ion-grid *ngIf="pal">
      <ion-col>
        <img [src]="pal.pictureLink" [alt]="pal.name">
      </ion-col>
      <ion-row>
        <ion-col>
          <strong>Number :</strong> {{ pal.number }}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <strong>Name :</strong> {{ pal.name }}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <strong>Description :</strong>
          <p>{{ pal.description }}</p>
        </ion-col>
      </ion-row>
      <ion-row style="height: 50px; display: flex; align-items: center;">
        <strong>Type :</strong>
        <img [src]="getTypeImageUrl(pal.type1)" alt="{{ pal.type1 }}"> {{ pal.type1 }} / <img [src]="getTypeImageUrl(pal.type2)" alt="{{ pal.type2 }}">{{ pal.type2 }}
      </ion-row>
      <ion-row>
        <strong>Work :</strong>
        <ion-col *ngFor="let work of pal.work">
          {{ work }}
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div *ngIf="modif">
    <ion-item>
      <ion-input type="text" label="Image" [(ngModel)]="pal.pictureLink"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" label="Number" [(ngModel)]="pal.number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" label="Name" [(ngModel)]="pal.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-textarea label="Description" rows="10" [(ngModel)]="pal.description"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-select label="Type 1" [(ngModel)]="pal.type1">
        <ion-select-option *ngFor="let type of types" [value]="type.label">
          <ion-thumbnail slot="start">
            <img [src]="type.imageUrl" alt="{{ type.label }} Image">
          </ion-thumbnail>
          {{ type.label }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-select label="Type 2" [(ngModel)]="pal.type2">
        <ion-select-option *ngFor="let type of types2" [value]="type.label">
          <ion-thumbnail slot="start">
            <img [src]="type.imageUrl" alt="{{ type.label }} Image">
          </ion-thumbnail>
          {{ type.label }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    
    <ion-list style="
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      width: 100%;">
    <ion-label style="
    width: 100%;
    padding: 10px 16px;">Work</ion-label>
      <ion-item *ngFor="let work of works" style="width: 50%;">
        <ion-label>{{ work.label }}</ion-label>
      <ion-thumbnail slot="start">
        <img [src]="work.imageUrl" alt="{{ work.label }} Image">
      </ion-thumbnail>
        <ion-checkbox slot="start" [(ngModel)]="work.checked"></ion-checkbox>
      </ion-item>
    </ion-list>
    <p class="text-center">
      <ion-button (click)="onUpdate()">Modify</ion-button>
    </p>
  </div>
</ion-content>